* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 100px auto;
  padding: 15px;
  border: 1px solid rgb(184, 181, 181);
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 0 30px gray;
}

.container h3 {
  padding-top: 20px;
}

.container p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  color: gray;
}

.container img {
  width: 100%;
  border-radius: 15px;
}

.container table {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.container td,
th {
  border: 1px solid black;
  padding: 3px;
}
